---
import Navbar from "./Navbar.astro"
---

<header class="bg-gray-900 py-5 text-white text-center flex justify-between">
    <h1 class="text-3xl font-bold">
        <a href="/">JavierSG</a>
    </h1>
    <Navbar />
</header>