---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="HTML">
    <div class="flex items-center justify-around bg-gray-800 py-5">
        <img transition:name="html" src="/technologies/html5.png" class="w-25 border rounded px-2 py-2 border-orange-500 shadow-2xl animate-border-pulse shadow-orange-500" alt="html"/>
        <h2 class="text-center font-bold">HTML5</h2>
    </div>
    
    <div class="flex flex-row justify-between my-5 mx-4 bg-gray-700 p-4">
        <img src="/certificates/html.jpg" class="w-100" alt="html">
        <div class="flex flex-col">
            <h3 class="text-center font-bold">Certificado de html5<h3>

            <p class="text-justify my-[1lh] ml-5">Certificado de html 5</p>
            <a href="/" class="text-end text-gray-500 opacity-50 transition hover:underline hover:text-green-500">Atras</a>
        </div>
    </div>
</Layout>