---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Python">
    <div class="flex items-center justify-around bg-gray-800 py-5">
        <img transition:name="html" src="/technologies/python.png" class="w-25 border rounded px-2 py-2 border-blue-500 shadow-2xl animate-border-pulse shadow-yellow-500" alt="html"/>
        <h2>Python</h2>
    </div>
    
    <div class="flex">
        <img src="/certificates/python.jpg" class="w-50" alt="html">
        <p>Certificado de python</p>
    </div>
    <a href="/" class="text-end text-gray-500 opacity-50 transition hover:underline hover:text-green-500">Atras</a>
</Layout>