---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="TypeScript">
    <div class="flex items-center justify-around bg-gray-800 py-5">
        <img transition:name="html" src="/technologies/typescript.png" class="w-25 border rounded px-2 py-2 border-blue-500 shadow-2xl animate-border-pulse shadow-blue-500" alt="html"/>
        <h2>TypeScript</h2>
    </div>
    
    <div class="flex my-5 mx-4">
        <img src="/certificates/typescript.jpg" class="w-50" alt="html">
        <p class="my-[1lh]">Certificado de typescript</p>
    </div>
    <a href="/" class="text-end text-gray-500 opacity-50 transition hover:underline hover:text-green-500">Atras</a>
</Layout>