---
import Layout from "../../layouts/Layout.astro"
import { Image } from "astro:assets"
---

<Layout title="SQL">
    <div class="bg-green-700 dark:bg-gray-900 py-4 mb-5 flex flex-row items-center justify-center *:mx-5 *:my-2">
        <Image src="/technologies/sql.png" alt="sql" width={100} height={100} />
        <h1 class="text-4xl font-bold text-center my-5">SQL</h1>
    </div>

    <div class="flex flex-col justify-center py-2">
        <h2 class="text-2xl font-semibold my-3 text-center">Stack</h2>
        <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mx-5 *:transition *:flex *:flex-col *:items-center *:my-2 *:mx-2 *:dark:bg-gray-600 *:rounded *:hover:scale-105 *:hover:cursor-pointer">
            <li>
                <h3 class="font-bold text-2xl">MariaDB</h3>
                <Image src="/technologies/django.png" alt="Django" width={60} height={60} />
                <p>Tipo: <strong>SQL</strong></p>
            </li>
            <li>
                <h3 class="font-bold text-2xl">MySQL</h3>
                <Image src="/technologies/fastapi.png" alt="Fastapi" width={60} height={60} />
                <p>Tipo: <strong>SQL</strong></p>
            </li>

            <li>
                <h3 class="font-bold text-2xl">MongoDB</h3>
                <Image src="/technologies/fastapi.png" alt="Fastapi" width={60} height={60} />
                <p>Tipo: <strong>NoSQL</strong></p>
            </li>

            <li>
                <h3 class="font-bold text-2xl">PostgreSQL</h3>
                <Image src="/technologies/fastapi.png" alt="Fastapi" width={60} height={60} />
                <p>Tipo: <strong>SQL</strong></p>
            </li>

            <li>
                <h3 class="font-bold text-2xl">SQL Server</h3>
                <Image src="/technologies/fastapi.png" alt="Fastapi" width={60} height={60} />
                <p>Tipo: <strong>SQL</strong></p>
            </li>
        </ul>
        <a href="/" class="pr-5 text-green-500 text-end transition hover:underline">Atras</a>
</Layout>