<h4 class="font-bold text-md">Habilidades:</h4>
<div>
  <ul>
    <h3>Python</h3>
  </ul>
  <ul>
    <h3>Frontend</h3>
  </ul>
  <ul>
    <h3>Backend</h3>
  </ul>
  <ul>
    <h3>Python</h3>
  </ul>
</div>
