---
interface Card {
    title: string
}

const { title } = Astro.props as Card;
---

<article class="bg-gray-400">
    <div>
        <h2>{title}</h2>
    </div>

    <div>

    </div>

    <div class="">
        <p></p>
    </div>
</article>