---
import Image from "astro:assets"
---

<section class="my-5">
    <article class="bg-gray-800 py-5 px-4 rounded my-5" >
        <h2 class="text-center font-bold text-2xl">Certificados</h2>
        <ul class="flex flex-wrap justify-center items-center gap-4 mt-4">
            <li>
                <a href="/certificates/html">
                    <img src="/technologies/html5.png"
                    transition:name="html"
                    class="w-24 h-24 object-contain block transition-all hover:cursor-pointer hover:shadow-2xl hover:shadow-orange-500 hover:border hover:border-orange-500 rounded py-2 px-1" alt="html">
                </a>
            </li>
            <li>
                <a href="/certificates/css">
                    <img src="/technologies/css.png" class="w-24 h-24 object-contain block transition-all hover:cursor-pointer hover:shadow-2xl hover:shadow-violet-500 hover:border hover:border-violet-500 rounded py-2 px-1" alt="css">
                </a>
            </li>
            <li>
                <a href="/certificates/javascript">
                    <img src="/technologies/javascript.png" class="w-24 h-24 object-contain block transition hover:cursor-pointer hover:shadow-2xl hover:shadow-yellow-500 hover:border border-yellow-500 rounded py-2 px-1" alt="javascript">
                </a>
            </li>
            <li>
                <a href="/certificates/typescript">
                    <img src="/technologies/typescript.png" class="w-24 h-24 object-contain block transition hover:cursor-pointer hover:shadow-2xl hover:shadow-blue-500 hover:border hover:border-blue-500 rounded py-2 px-1" alt="typescript">
                </a>
            </li>
            <li>
                <a href="/certificates/python">
                    <img src="/technologies/python.png" class="w-24 h-24 object-contain block transition hover:cursor-pointer hover:shadow-2xl hover:shadow-yellow-500 hover:border-2 hover:border-blue-500 rounded py-2 px-1" alt="python">
                </a>
            </li>
        </ul>
    </article>

    <!-- <h2 class="mt-6">Reconocimientos</h2>
    <ul class="flex justify-center items-center gap-6 mt-2">
        <li>
            <img src="" alt="mejor promedio" class="w-32 h-20 object-contain">
        </li>

        <li>
            <img src="" alt="Reconocimiento" class="w-32 h-20 object-contain">
        </li>
    </ul> -->

    <article class="bg-gray-800 py-5 px-4 rounded my-5">
        <h2 class="text-center font-bold text-2xl">Proximamente</h2>
        <ul class="flex flex-wrap justify-center items-center gap-4 mt-4">
            <li>
                <img src="/technologies/react.png" class="w-24 h-24 object-contain block transition hover:cursor-pointer hover:shadow-2xl hover:shadow-blue-500 hover:border-2 hover:border-blue-500 rounded py-2 px-1" alt="react">
            </li>
            <li>
                <img src="/technologies/sql.png" class="w-24 h-24 object-contain block transition hover:cursor-pointer hover:shadow-2xl hover:shadow-blue-500 hover:border-2 hover:border-blue-500 rounded py-2 px-1" alt="sql">
            </li>
            <li>
                <img src="/technologies/csharp.png" class="w-24 h-24 object-contain block transition hover:cursor-pointer hover:shadow-2xl hover:shadow-violet-500 hover:border-2 hover:border-violet-500 rounded py-2 px-1" alt="charp">
            </li>
        </ul>
    </article>
</section>