---
const date = new Date();
---

<footer class="bg-gray-800 py-5 text-white text-center flex flex-col *:py-5">
  <p>JavierSG {date.getFullYear()}</p>

  <ul class="flex justify-around">
    <li>
      Contactame
      <ol>
        <li class="py-3">
          <a href="mailto:jsdash10000@gmail.com">Correo electronico</a>
        </li>

        <li class="py-3">
          <a href="tel:+526622037327">Celular</a>
        </li>
      </ol>
    </li>

    <li>Proyectos</li>
  </ul>

  <p class="flex justify-end text-gray-600">version: 2.0</p>
</footer>
