---
import Navbar from "./Navbar.astro";
---

<header class="py-10 flex items-center justify-around bg-blue-950">
  <h1 class="text-3xl font-bold text-white transition *:hover:font-bold">
    <a href="/">JavierSG</a>
  </h1>

  <Navbar />
</header>
