

<header class="bg-green-900">
  <h1 class="text-white text-3xl font-bold p-4 text-center
  transition hover:shadow-lg hover:shadow-green-700 hover:cursor-pointer
  hover:bg-green-800">
    <a href="/">JavierSG</a>
  </h1>

  <h2 class="text-white text-center">Programador Full Stack</h2>
</header>
