---
import Navbar from "./Navbar.astro"
---

<header class="bg-gray-900 mb-5 right-0 left-0">
  <h1 class="text-white text-3xl font-bold p-4 text-center">
    <!-- transition hover:shadow-lg hover:shadow-green-700 hover:cursor-pointer
  hover:bg-green-800 -->
    <a href="/">JavierSG</a>
  </h1>

  <h2 class="text-white text-center">Programador Full Stack</h2>

  <Navbar />
</header>
