---
import Card from "./Card.astro"
import Banner from "./Banner.astro";
---

<Banner Title="Welcome to My Portfolio" Subtitle="Explore my projects and skills" />
<section>
    <img src="/public/logo.ico" alt="Logo" class="mx-auto my-4 w-60 h-40 rounded-2xl" />
</section>
<section class="container mx-auto p-4">
    <Card 
        Title="Javier Armando Sarmiento Gil" 
        Image="/images/me.jpg" 
        Description="This is a description of my first project." 
        Link="/projects/1" 
    />
</section>
<section class="container mx-auto p-4 flex justify-center space-x-4">
    <a href="" class="text-blue-500 hover:underline">
        Contacto
    </a>
    <a href="" class="text-blue-500 hover:underline">
        Proyectos
    </a>
</section>