---
import Sidebar from "./Sidebar.astro";
---

<nav
  class="flex *:px-1 *:text-white transition ease-in transiti *:hover:font-bold"
>
  <a href="/">Inicio</a>
  <a href="/about">Acerda de</a>
  <a href="/projects">Proyectos</a>
  <a href="/contact">Contactame</a>
</nav>
