
<nav class="bg-gray-600 text-white flex justify-around py-5 rounded mt-2">
  <a href="/" class="transition hover:text-blue-500 hover:font-bold">Inicio</a>
  <a href="/about" class="transition hover:text-blue-500 hover:font-bold">Acerca de</a>
  <a href="/projects" class="transition hover:text-blue-500 hover:font-bold">Proyectos</a>
  <a href="/contact" class="transition hover:text-blue-500 hover:font-bold">Contactame</a>
</nav>