---
import { changeLanguage } from "../utils/changeLanguage";
---

<div>
    <a href="/cv.pdf" download="curriculum" class="bg-blue-500 py-2 rounded px-5 transition hover:bg-blue-700 hover:cursor-pointer ">Descargar CV</a>

</div>