<section>
    <h2 class="text-center font-bold text-2xl">Proyectos</h2>
    <article class="bg-gray-800 rounded py-5">
        <h3 class="text-center font-bold">CTRL Z para Sisa</h3>
        <img src="" alt="">

        <p></p>
    </article>
</section>