
<aside class="bg-green-600 text-white  p-4 border-t-2 border-green-800 md:border-t-0 md:border-r-2">
  <nav class="flex flex-col gap-4 text-center md:items-end">
    <a href="/about">Acerca de</a>
    <a href="/Currículum.pdf" target="_blank">CV</a>
    <a href=""></a>
  </nav>
</aside>