---
import { Image } from "astro:assets"

---

<div class="bg-green-700 dark:bg-gray-900">
    <h2 class="text-center font-bold text-xl">Tecnologias</h2>
    <nav class="grid grid-cols-4 gap-4 p-4">
        <a class="bg-gray-200 flex flex-col items-center py-2 px-2 rounded hover:bg-gray-300 transition dark:bg-gray-700 dark:hover:bg-gray-600 hover:scale-105" href="/technologies/python">
            <h3>Python</h3>
            <Image src="/technologies/python.png" alt="Python" width={40} height={40} />
        </a>

        <a class="bg-gray-200 flex flex-col items-center py-2 px-2 rounded hover:bg-gray-300 transition dark:bg-gray-700 dark:hover:bg-gray-600 hover:scale-105" href="/technologies/desktop">
            <h3>Escritorio</h3>
            <Image src="/technologies/desktop.png" alt="Python" width={40} height={40} />
        </a>

        <a class="bg-gray-200 flex flex-col items-center py-2 px-2 rounded hover:bg-gray-300 transition dark:bg-gray-700 dark:hover:bg-gray-600 hover:scale-105" href="/technologies/frontend">
            <h3>Frontend</h3>
            <Image src="/technologies/client.png" alt="Frontend" width={40} height={40} />
        </a>

        <a class="bg-gray-200 flex flex-col items-center py-2 px-2 rounded hover:bg-gray-300 transition dark:bg-gray-700 dark:hover:bg-gray-600 hover:scale-105" href="/technologies/backend">
            <h3>Backend</h3>
            <Image src="/technologies/server.png" alt="Backend" width={40} height={40} />
        </a>

        <a class="bg-gray-200 flex flex-col items-center py-2 px-2 rounded hover:bg-gray-300 transition dark:bg-gray-700 dark:hover:bg-gray-600 hover:scale-105" href="/technologies/sql">
            <h3>SQL</h3>
            <Image src="/technologies/sql.png" alt="SQL" width={40} height={40} />
        </a>

        <a class="bg-gray-200 flex flex-col items-center py-2 px-2 rounded hover:bg-gray-300 transition dark:bg-gray-700 dark:hover:bg-gray-600 hover:scale-105" href="/technologies/mobile">
            <h3>Mobile</h3>
            <Image src="/technologies/mobile.png" alt="Mobile" width={40} height={40} />
        </a>

        <a class="bg-gray-200 flex flex-col items-center py-2 px-2 rounded hover:bg-gray-300 transition dark:bg-gray-700 dark:hover:bg-gray-600 hover:scale-105" href="/technologies/iot">
            <h3>IoT</h3>
            <Image src="/technologies/iot.png" alt="iot" width={40} height={40} />
        </a>

        <a class="bg-gray-200 flex flex-col items-center py-2 px-2 rounded hover:bg-gray-300 transition dark:bg-gray-700 dark:hover:bg-gray-600 hover:scale-105" href="/technologies/git">
            <h3 class="text-center">Control de versiones</h3>
            <Image src="/technologies/git.png" alt="Git" width={40} height={40} />
        </a>

        <a class="bg-gray-200 flex flex-col items-center py-2 px-2 rounded hover:bg-gray-300 transition dark:bg-gray-700 dark:hover:bg-gray-600 hover:scale-105" href="/technologies/devops">
            <h3>DevOps</h3>
            <Image src="/technologies/docker.png" alt="SQL" width={40} height={40} />
        </a>


        <a class="bg-gray-200 flex flex-col items-center py-2 px-2 rounded hover:bg-gray-300 transition dark:bg-gray-700 dark:hover:bg-gray-600 hover:scale-105" href="/technologies/tools">
            <h3>Herramientas</h3>
            <Image src="/technologies/vscode.png" alt="SQL" width={40} height={40} />
        </a>
    </nav>
</div>