---
import Layout from '../layouts/Layout.astro';
---

<Layout title = "404 not found">
	<p class="text-9xl font-bold text-center h-2 py-50">404</p>
	<p class="text-center">La pagina no funciona</p>
</Layout>
