---
import Layout from '../layouts/Layout.astro';
---

<Layout title = "404 not found">
	<div class="py-20">
		<p class="text-9xl font-bold text-center h-2 py-50">404</p>
		<p class="text-center">La pagina no funciona</p>
	</div>
</Layout>
