---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de">
  <div>Historia mia en la carrera laboral</div>

  <div>Stack</div>

  <div>Experiencia laboral</div>

  <ul>
    <li>Historia sobre tu trayectoria en la UTH y proyectos importantes.</li>
    <li>Habilidades técnicas (lenguajes, frameworks, bases de datos, etc.).</li>
    <li>Experiencia laboral o proyectos personales destacados.</li>
    <li>Una imagen tuya o ilustrativa.</li>
  </ul>

  <h4 class="font-bold text-md">Habilidades:</h4>
  <div>
    <ul>
      <h3>Python</h3>
    </ul>
    <ul>
      <h3>Frontend</h3>
    </ul>
    <ul>
      <h3>Backend</h3>
    </ul>
    <ul>
      <h3>Python</h3>
    </ul>
  </div>
</Layout>
