---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout title="Proyectos">
  <h2 class="font-bold text-4xl text-center py-2">Proyectos</h2>

    <input
      type="text"
      placeholder="Buscar proyecto..."
      class="border border-gray-300 rounded px-4 py-2 w-full mb-4"
    />
    
    
    <nav class="grid grid-cols-1 py-5 gap-5 md:grid-cols-2 lg:grid-cols-4">
      {projects.map((project) =>{
      const {slug, data} = project;
      const {title, image, description, frameworks, type, url_production, urls} = data;
      return(
        <article
          class="bg-gray-100 py-2 mx-2 rounded hover:scale-105 transition-transform duration-300 hover:shadow-lg hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-700"
        >
          <a href={`/projects/${slug}`}>
          <div class="flex flex-col items-center dark:text-white p-2">
            <h2 class="text-center font-bold text-2xl">{title}</h2>
            <div class="flex items-center flex-col *:m-1">
              <img
                class="w-50 rounded-2xl"
                src={image ? image : "https://http.cat/400"}
                alt={title}
              />
              <p>{description}</p>
            </div>
            </a>
          </div>
        </article>
      )}
      )}
    </nav>
</Layout>
