---
import ClientRouter from "astro/components/ClientRouter.astro";
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/Sidebar.astro";
interface Layout {
  title: String;
}

const { title } = Astro.props as Layout;
const logo = "/logo.ico";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={logo} />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "Sin titulo"} - JavierSG</title>
    <meta name="author" content="JavierSG" />
    <meta
      name="description"
      content="Portafolio de JavierSG, programador y desarrollador web."
    />
    <ClientRouter />
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100 md:grid md:grid-cols-layout md:grid-rows-layout dark:bg-gray-900 dark:text-white">
    <Header />
    <Navbar />
    <!-- <main class="flex-1 md:col-start-1 md:col-end-3 md:row-start-2 md:row-end-3"> -->
    <main class="flex-1">
      <slot />
    </main>
    <!-- <Sidebar /> -->
    <Footer />
  </body>
</html>

<style is:global>
  html, body {
    height: 100%;
  }
  body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100dvh;
  }
  
</style>
