body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #001;
  .logo {
    width: 85px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    gap: 1rem;

    .nav-item {
      text-decoration: none;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      transition: all 0.3s ease-in-out;
    }
    .nav-item:hover {
      color: #00f;
      text-decoration: underline;
      font-size: larger;
    }
  }
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001;
  color: #fff;
  padding: 1rem;
  .logo {
    width: 85px;
  }
  h1 {
    font-size: 3rem;
  }
}
