---
import ComingSoonItem from "./ComingSoonItem.astro"
---

<div class="flex flex-col items-center justify-center bg-gray-800 rounded py-5 mb-5">
    <h2 class="font-bold text-2xl">Proximamente...</h2>
    <div class="flex justify-around w-full mt-5">
        <ComingSoonItem name="sql" firstColor="blue" secondColor="blue"/>
        <ComingSoonItem name="csharp" firstColor="violet" secondColor="violet"/>
        <ComingSoonItem name="sql-server" firstColor="gray" secondColor="red"/>
    </div>
</div>