<div>
    <article class="bg-gray-800 py-5 rounded">
        <h2 class="text-white text-center">Experiencia</h2>
        <p class="text-white text-center">Aquí va la información sobre mi experiencia laboral.</p>
    </article>    
</div>