<div>
    <article class="bg-gray-800 rounded py-5">
        <h2 class="text-white text-center">Proyectos</h2>
        <p class="text-white text-center">Aquí va la información sobre mis proyectos.</p>
    </article>
</div>